* {
  padding: 0px;
  margin: 0px;
}

.transform {
  background: #0e6e84;
  padding: 100px 0;
  transform: skew(0deg, -6deg) translateY(-110px);
  position: relative;
}
.image-container {
  margin-top: -150px;
  margin-left: 43%;
  position: absolute;
}
.profile {
  height: 200px;
  width: 200px;
}
